@font-face {
  font-family: "Segoe-UI";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe-UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1920vw;
  min-height: 800px;
}

nav {
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  font-family: "Segoe-UI";
}
nav .logo-container {
  left: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
nav .logo-container img {
  max-width: 70px;
  max-height: 70px;
}
nav .nav-search {
  left: 250px;
  width: 480px;
  height: 40px;
  background-color: #587c83;
  border: 1px solid #000000;
  opacity: 0.3;
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
}
nav .nav-search img {
  margin-right: 9px;
  max-width: 20px;
  max-height: 20px;
}
nav .hamburger-nav:hover {
  cursor: pointer;
}
nav .hide {
  display: none;
}
nav .mob-nav {
  position: absolute;
  top: 108px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 105px);
  width: 100vw;
  background-color: #587c83;
}
nav .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-links a {
  color: #000000;
  text-decoration: none;
}
nav .nav-links .a-active {
  font-family: "Segoe-UI Bold";
}
nav .nav-links .nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-links .nav-icon-container a {
  padding-right: clamp(0vw, 0.625vw, 0.7rem);
}
nav .nav-links .nav-icon-container img {
  max-width: 40px;
  max-height: 40px;
  padding-left: clamp(0.3125vw, 0.625vw, 0.63rem);
}

@media screen and (min-width: 768px) {
  nav .nav-links {
    width: 620px;
  }
}
@media screen and (max-width: 768px) {
  nav .logo-container img {
    max-width: 45px;
    max-height: 45px;
  }
  nav .nav-search {
    font-size: 13px;
    max-width: 300px;
    height: 23px;
    padding: 0;
    margin-right: 10px;
  }
  nav .nav-search img {
    margin: 0 9px;
  }
  nav .mob-nav {
    display: flex;
  }
  nav .hide {
    display: none;
  }
  nav .nav-links {
    margin-right: 0;
  }
  nav .nav-links a {
    color: #ffffff;
  }
}
@media screen and (max-width: 430px) {
  nav .logo-container {
    width: 130px;
    font-size: 13px;
  }
  nav .logo-container img {
    max-width: 30px;
    max-height: 30px;
  }
  nav .nav-search {
    max-width: 142px;
    height: 16px;
    font-size: 11px;
  }
  nav .nav-search img {
    max-width: 16px;
    max-height: 16px;
  }
  nav .hamburger-nav {
    width: 30px;
    margin-right: 0;
  }
}
footer {
  height: 92px;
  color: #ffffff;
  background-color: #587c83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 103px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 38px;
}
footer .Social-Icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}
footer img {
  height: 44px;
}

@media screen and (max-width: 1000px) {
  footer {
    padding-left: 19px;
    padding-right: 26px;
    font-size: 11px;
  }
  footer a {
    font-size: 11px;
    margin-right: 1.875vw;
  }
  footer .Social-Icons {
    width: 100px;
  }
  footer img {
    height: 25px;
  }
}
@media screen and (max-width: 430px) {
  footer {
    font-size: 6px;
    padding-left: 17px;
  }
  footer a {
    font-size: 6px;
    margin-right: 19px;
  }
  footer .Social-Icons {
    width: 75px;
  }
  footer img {
    height: 16px;
  }
}
#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe-UI";
}
#modal #modal-click-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
#modal .modal-content-holder {
  position: relative;
  min-height: 500px;
  width: 80vw;
  max-width: 500px;
  border-radius: 5%;
  background-color: #ffffff;
  z-index: 99;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 20px 5px #587c83 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modal .modal-content-holder img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}
#modal .modal-content-holder h2 {
  font-family: "Segoe-UI Bold";
  font-size: 26px;
}
#modal .modal-content-holder .modal-text {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#modal .modal-content-holder .modal-links {
  margin: 0 auto;
}
#modal .modal-content-holder .modal-links a {
  margin: 0 auto;
  padding-top: 1px;
  padding-left: 5px;
  color: #587c83;
}
#modal .modal-content-holder .modal-cart {
  font-size: 12px;
}
#modal .modal-content-holder .close-button {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 25px;
}
#modal .modal-content-holder .close-cancel {
  width: 100px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #587c83;
  font-size: 16px;
  margin-top: 20px;
  color: white;
}
#modal .modal-content-holder .close-cancel:hover {
  background-color: #ffffff;
  color: #587c83;
  border: 1px solid #587c83;
  cursor: pointer;
}

#modal.active {
  visibility: visible;
}

.hero {
  max-height: 550px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.hero .hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/home-hero.jpg");
}
.hero .hero-image .hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.hero .hero-image .hero-overlay .hero-content {
  height: 100%;
  width: 300px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  text-transform: uppercase;
}
.hero .hero-image .hero-overlay .hero-content h1 {
  line-height: 0.3;
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
}
.hero .hero-image .hero-overlay .hero-content p {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Segoe-UI";
}

.home-content-wrapper {
  max-width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  align-items: center;
}
.home-content-wrapper .home-content {
  width: 400px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe-UI";
  color: #000000;
  text-align: center;
}
.home-content-wrapper .home-content .book-img img {
  max-width: 327px;
  max-height: 491px;
  padding: 10px;
}
.home-content-wrapper .home-content .book-description {
  width: 400px;
  font-size: 16px;
  padding: 10px;
}
.home-content-wrapper .home-content .book-price {
  font-family: "Segoe-UI Bold";
  font-size: 32px;
  padding: 10px;
}
.home-content-wrapper .home-content .add-button {
  border: 1px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .hero .hero-image .hero-overlay .hero-content h1 {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 0;
  }
  .hero .hero-image .hero-overlay .hero-content p {
    font-size: 8px;
  }
}
@media screen and (max-width: 1200px) {
  .home-content-wrapper {
    flex-direction: column;
  }
  .home-content-wrapper .home-content {
    margin-bottom: 73px;
  }
  .home-content-wrapper .home-content .book-description {
    font-size: 16px;
  }
  .home-content-wrapper .home-content .book-price {
    font-size: 16px;
  }
}
@media screen and (max-width: 430px) {
  .hero {
    max-height: 200px;
  }
  .hero .hero-image {
    height: 193px;
  }
  .hero .hero-image .hero-overlay {
    height: 100%;
  }
  .home-content-wrapper {
    margin: 60px;
    margin-bottom: 0;
  }
  .home-content-wrapper .home-content {
    max-width: 300px;
  }
  .home-content-wrapper .home-content .book-img img {
    max-height: 140px;
  }
  .home-content-wrapper .home-content .book-description {
    width: 167px;
    font-size: 6px;
  }
  .home-content-wrapper .home-content .book-price {
    font-size: 6px;
  }
  .home-content-wrapper .home-content .add-button {
    margin-top: 0;
    width: 114px;
    height: 30px;
    font-size: 6px;
  }
}
.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 192px 200px 192px 152px;
}
.about-section img {
  height: 587px;
  margin-right: 40px;
}
.about-section .about-text .about-Heading {
  margin-bottom: 61px;
  font-family: "Segoe UI Bold";
}
.about-section .about-text .about-Heading h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.about-section .about-text .about-Heading h2 {
  font-size: 26px;
  margin-top: 40px;
}
.about-section .about-text p {
  max-width: 1135px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .about-section {
    margin: 76px 53px 76px 68px;
  }
  .about-section img {
    height: 343px;
  }
  .about-section .about-text {
    text-align: center;
  }
  .about-section .about-text .about-Heading {
    margin-bottom: 33px;
  }
  .about-section .about-text .about-Heading h1 {
    font-size: 12px;
  }
  .about-section .about-text .about-Heading h2 {
    font-size: 8px;
  }
  .about-section .about-text p {
    font-size: 11px;
    max-width: 355px;
  }
}
@media screen and (max-width: 430px) {
  .about-section {
    margin: 100px 48px;
  }
  .about-section img {
    height: 132px;
  }
  .about-section .about-text .about-Heading {
    margin-bottom: 10px;
  }
  .about-section .about-text .about-Heading h1,
  .about-section .about-text .about-Heading h2 {
    font-size: 6px;
  }
  .about-section .about-text .about-Heading h2 {
    margin-top: 16px;
  }
  .about-section .about-text p {
    max-width: 197px;
    font-size: 6px;
    font-family: "Segoe UI Bold";
  }
}
.book-section {
  min-height: 300px;
  margin: 180px 96px 180px 53px;
}
.book-section h1 {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.book-section .item-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-section .book-Item {
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.book-section .book-Item .book-image {
  max-width: 225px;
}
.book-section .book-Item .book-image img {
  width: 80%;
}
.book-section .book-Item .item-Info {
  max-width: 280px;
}
.book-section .book-Item .item-Info .book-description {
  font-size: 16px;
}
.book-section .book-Item .item-Info .book-price {
  font-family: "Segoe-UI Bold";
  font-size: 16px;
  margin-top: 25px;
}
.book-section .book-Item .item-Info .add-button {
  border: 1px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.book-section .book-Item .item-Info .add-button a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .book-section {
    margin-top: 0;
    margin-left: 45.9px;
    margin-bottom: 56.5px;
  }
  .book-section h1 {
    margin-top: 85.5px;
    margin-bottom: 30.5px;
  }
  .book-section .item-selection {
    margin-left: 100px;
    flex-direction: column;
    align-items: normal;
  }
  .book-section .item-selection .book-Item {
    margin-bottom: 100px;
  }
  .book-section .item-selection .book-Item .book-image {
    height: 130px;
    margin-right: 25px;
  }
  .book-section .item-selection .book-Item .book-image img {
    width: 100%;
  }
}
.blog-content-wrapper {
  max-width: 1200px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.blog-content-wrapper .blog-content {
  max-height: 400px;
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: #587c83;
  margin: 75px;
}
.blog-content-wrapper .blog-content .blog-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.blog-content-wrapper .blog-content .blog-section .double-covers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.blog-content-wrapper .blog-content .blog-section .double-covers img {
  max-width: 200px;
}
.blog-content-wrapper .blog-content .blog-section .blog-image {
  max-width: 50%;
  min-height: 100%;
  object-fit: cover;
}
.blog-content-wrapper .blog-content .blog-section .blog-details {
  max-height: 400px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  color: #ffffff;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-header {
  padding-bottom: 20px;
  font-family: "Segoe-UI Bold";
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-description {
  margin: 0 auto;
  padding: 10px;
  max-width: 413px;
  padding-bottom: 20px;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-button {
  width: 222px;
  height: 68px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-button a {
  text-decoration: none;
  color: #ffffff;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-button:hover {
  background-color: #ffffff;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-button:hover a {
  color: #587c83;
}

@media screen and (max-width: 768px) {
  .blog-content-wrapper .blog-content {
    max-width: 552px;
    max-height: 229px;
  }
  .blog-content-wrapper .blog-content .blog-section img {
    max-height: 146px;
  }
  .blog-content-wrapper .blog-content .blog-section .blog-details {
    margin: 26px 15px 23px;
  }
  .blog-content-wrapper .blog-content .blog-section .blog-details .blog-header {
    font-size: 12px;
  }
  .blog-content-wrapper .blog-content .blog-section .blog-details .blog-description {
    font-size: 11px;
  }
  .blog-content-wrapper .blog-content .blog-section .blog-details .blog-button {
    width: 89px;
    height: 34px;
  }
  .blog-content-wrapper .blog-content .blog-section .blog-details .blog-button a {
    font-size: 12px;
  }
}
.cart-wrapper {
  width: 100%;
  height: 1500px;
}
.cart-wrapper .cart-item {
  width: 100%;
  height: 550px;
  margin: 50px 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 100px;
  border-bottom: 1px solid #000000;
}
.cart-wrapper .cart-item .cart-content {
  width: 205px;
  height: 317px;
  margin: 20px;
}
.cart-wrapper .cart-item .cart-content img {
  max-width: 205px;
  max-height: 317px;
}
.cart-wrapper .cart-item .cart-content-detail {
  width: 900px;
  height: 317px;
  margin: 20px;
  padding: 20px;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.cart-wrapper .cart-item .cart-content-detail h4 {
  font-size: 26px;
}
.cart-wrapper .cart-item .cart-content-detail .bold {
  font-family: "Segoe-UI Bold";
}
.cart-wrapper .cart-item .cart-content-detail .pricing-availability {
  line-height: 10px;
  padding: 15px 0px;
}
.cart-wrapper .cart-item .cart-content-detail .quantity-actions {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.cart-wrapper .cart-item .cart-content-detail .quantity-actions a {
  color: #000000;
}

.loginWrapper {
  font-family: "Segoe-UI";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 12%;
}
.loginWrapper form {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.loginWrapper .Login-Heading {
  margin-bottom: 46px;
}
.loginWrapper .Signin-Heading {
  margin-bottom: 26px;
}
.loginWrapper p {
  margin-bottom: 0;
}
.loginWrapper input {
  margin-bottom: 44px;
  width: 233px;
  border-style: none;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  color: #000000;
}
.loginWrapper input:focus {
  outline: none;
}
.loginWrapper button {
  background-color: #587c83;
  color: #ffffff;
  width: 170px;
  height: 45px;
  border-style: none;
  text-transform: uppercase;
  margin: 0 auto;
}
.loginWrapper button:hover {
  color: #587c83;
  background-color: #ffffff;
  border: 2px solid #587c83;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .loginWrapper {
    flex-direction: column;
    font-size: 11px;
  }
  .loginWrapper .login-Form {
    margin-bottom: 80px;
  }
  .loginWrapper .Login-Heading {
    font-size: 12px;
  }
  .loginWrapper input {
    font-size: 11px;
  }
  .loginWrapper button {
    font-size: 11px;
    width: 112px;
    height: 37px;
  }
}
.bookclub-hero {
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.bookclub-hero .bookclub-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/book-club-hero.jpg");
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content {
  height: 100%;
  width: 1000px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content .bookclub-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content h2 {
  margin-top: 25px;
  font-size: 20px;
  font-family: "Segoe-UI";
}

.bookclub-blog-wrapper {
  max-width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.bookclub-blog-wrapper .blog-content {
  width: 80%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.bookclub-blog-wrapper .blog-content .blog-image {
  width: 600px;
  height: 350px;
  margin: 50px 0px;
  padding: 20px;
}
.bookclub-blog-wrapper .blog-content .blog-image img {
  max-width: 600px;
  max-height: 350px;
}
.bookclub-blog-wrapper .blog-content .blog-description {
  width: 900px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .bookclub-hero {
    margin-left: 102px;
    height: 197px;
    width: 562px;
  }
  .bookclub-hero .bookclub-hero-image {
    height: 100%;
    width: 100%;
  }
  .bookclub-hero .bookclub-hero-image .bookclub-hero-overlay {
    height: 100%;
  }
  .bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content {
    width: 100%;
  }
  .bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content .bookclub-hero-title {
    font-size: 12px;
  }
  .bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content h2 {
    font-size: 11px;
  }
  .bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content p {
    font-size: 8px;
  }
  .bookclub-blog-wrapper .blog-content {
    justify-content: space-between;
    width: 76%;
  }
  .bookclub-blog-wrapper .blog-content .blog-image {
    width: 256px;
    height: 206px;
    padding: 0;
    margin-top: 0;
  }
  .bookclub-blog-wrapper .blog-content .blog-image img {
    max-width: 256px;
    object-fit: cover;
  }
  .bookclub-blog-wrapper .blog-content .blog-description {
    width: 261px;
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
}
.ereading-hero {
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.ereading-hero .ereading-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/eread-hero.jpg");
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content {
  height: 100%;
  width: 1000px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content .ereading-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content h2 {
  margin-top: 25px;
  font-size: 20px;
  font-family: "Segoe-UI";
}

.ereading-blog-wrapper {
  max-width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.ereading-blog-wrapper .blog-content {
  width: 80%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ereading-blog-wrapper .blog-content .blog-image {
  width: 600px;
  height: 350px;
  margin: 50px 0px;
  padding: 20px;
}
.ereading-blog-wrapper .blog-content .blog-image img {
  max-width: 600px;
  max-height: 350px;
}
.ereading-blog-wrapper .blog-content .blog-description {
  width: 900px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .ereading-hero {
    margin-left: 102px;
    height: 197px;
    width: 562px;
  }
  .ereading-hero .ereading-hero-image {
    height: 100%;
    width: 100%;
  }
  .ereading-hero .ereading-hero-image .ereading-hero-overlay {
    height: 100%;
  }
  .ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content {
    width: 100%;
  }
  .ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content .ereading-hero-title {
    font-size: 12px;
  }
  .ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content h2 {
    font-size: 11px;
  }
  .ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content p {
    font-size: 8px;
  }
  .ereading-blog-wrapper .blog-content {
    justify-content: space-between;
    width: 76%;
  }
  .ereading-blog-wrapper .blog-content .blog-image {
    width: 256px;
    height: 206px;
    padding: 0;
    margin-top: 0;
  }
  .ereading-blog-wrapper .blog-content .blog-image img {
    max-width: 256px;
    object-fit: cover;
  }
  .ereading-blog-wrapper .blog-content .blog-description {
    width: 261px;
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
}
.february-hero {
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.february-hero .february-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/february-favorites-hero.jpg");
}
.february-hero .february-hero-image .february-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content {
  height: 100%;
  width: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content .february-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content h1 {
  font-size: 26px;
  font-family: "Segoe-UI Bold";
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content p {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Segoe-UI";
}

.february-blog-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 100px;
}
.february-blog-wrapper .february-blog-content {
  max-width: 1100px;
  max-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.february-blog-wrapper .february-blog-content .february-blog-image img {
  max-width: 250px;
  max-height: 380px;
}
.february-blog-wrapper .february-blog-content .february-blog-description {
  height: 100%;
  max-width: 800px;
  padding: 10px;
  margin-left: 25px;
}
.february-blog-wrapper .february-blog-content .february-blog-description h3 {
  font-family: "Segoe-UI";
  word-spacing: 2px;
  font-size: 26px;
  margin-bottom: 50px;
}
.february-blog-wrapper .february-blog-content .february-blog-description p {
  font-family: "Segoe-UI";
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .february-hero {
    margin-left: 102px;
    height: 197px;
    width: 562px;
  }
  .february-hero .february-hero-image {
    height: 100%;
    width: 100%;
  }
  .february-hero .february-hero-image .february-hero-overlay {
    height: 100%;
  }
  .february-hero .february-hero-image .february-hero-overlay .february-hero-content {
    width: 100%;
  }
  .february-hero .february-hero-image .february-hero-overlay .february-hero-content .february-hero-title {
    font-size: 12px;
  }
  .february-hero .february-hero-image .february-hero-overlay .february-hero-content h1 {
    font-size: 11px;
  }
  .february-hero .february-hero-image .february-hero-overlay .february-hero-content p {
    font-size: 8px;
  }
  .february-blog-wrapper {
    margin-bottom: 0;
  }
  .february-blog-wrapper .february-blog-content {
    margin-top: 0;
    margin-bottom: 81px;
  }
  .february-blog-wrapper .february-blog-content .february-blog-image img {
    max-width: 99px;
    max-height: 150px;
  }
  .february-blog-wrapper .february-blog-content .february-blog-description {
    max-width: 473px;
  }
  .february-blog-wrapper .february-blog-content .february-blog-description h3 {
    font-size: 12px;
  }
  .february-blog-wrapper .february-blog-content .february-blog-description p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=styles.css.map */
