@font-face {
  font-family: "Segoe-UI";
  src: url(../css/fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoe-UI Bold";
  src: url(../css/fonts/segoeuib.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1920vw;
  min-height: 800px;
}

nav {
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  font-family: "Segoe-UI";
}
nav .logo-container {
  position: absolute;
  left: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
nav .logo-container img {
  max-width: 70px;
  max-height: 70px;
}
nav .nav-search {
  position: absolute;
  left: 250px;
  width: 480px;
  height: 40px;
  background-color: #587c83;
  border: 1px solid #000000;
  opacity: 0.3;
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
}
nav .nav-search img {
  margin-right: 8px;
  max-width: 20px;
  max-height: 20px;
}
nav .nav-links {
  position: absolute;
  right: 10px;
  height: 43px;
  width: 620px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-links a {
  color: #000000;
  text-decoration: none;
}
nav .nav-links .a-active {
  font-family: "Segoe-UI Bold";
}
nav .nav-links .nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-links .nav-icon-container a {
  padding-right: 10px;
}
nav .nav-links .nav-icon-container img {
  max-width: 40px;
  max-height: 40px;
  padding-left: 10px;
}

footer {
  height: 92px;
  color: #ffffff;
  background-color: #587c83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 103px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 38px;
}
footer .Social-Icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}
footer img {
  height: 50px;
}

.hero {
  max-height: 550px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.hero .hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/home-hero.jpg");
}
.hero .hero-image .hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.hero .hero-image .hero-overlay .hero-content {
  height: 100%;
  width: 300px;
  color: #ffffff;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  text-transform: uppercase;
}
.hero .hero-image .hero-overlay .hero-content h1 {
  line-height: 0.3;
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
}
.hero .hero-image .hero-overlay .hero-content p {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Segoe-UI";
}

.home-content-wrapper {
  max-width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  align-items: center;
}
.home-content-wrapper .home-content {
  width: 400px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe-UI";
  color: #000000;
  text-align: center;
}
.home-content-wrapper .home-content .book-img img {
  max-width: 327px;
  max-height: 491px;
  padding: 10px;
}
.home-content-wrapper .home-content .book-description {
  width: 400px;
  font-size: 16px;
  padding: 10px;
}
.home-content-wrapper .home-content .book-price {
  font-family: "Segoe-UI Bold";
  font-size: 32px;
  padding: 10px;
}
.home-content-wrapper .home-content .add-button {
  border: 1px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 192px 200px 192px 152px;
}
.about-section img {
  height: 587px;
  margin-right: 40px;
}
.about-section .about-text .about-Heading {
  margin-bottom: 61px;
}
.about-section .about-text .about-Heading h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.about-section .about-text .about-Heading h2 {
  font-size: 26px;
  margin-top: 40px;
}
.about-section .about-text p {
  max-width: 1135px;
  font-size: 16px;
}

.book-section {
  min-height: 300px;
  margin: 180px 96px 180px 53px;
}
.book-section h1 {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.book-section .item-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-section .book-Item {
  max-width: 500vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.book-section .book-Item .book-image {
  max-width: 225px;
}
.book-section .book-Item .book-image img {
  width: 80%;
}
.book-section .book-Item .item-Info {
  max-width: 280px;
}
.book-section .book-Item .item-Info .book-description {
  font-size: 16px;
}
.book-section .book-Item .item-Info .book-price {
  font-family: "Segoe-UI Bold";
  font-size: 16px;
  margin-top: 25px;
}
.book-section .book-Item .item-Info .add-button {
  border: 1px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.blog-content-wrapper {
  width: 1200px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.blog-content-wrapper .blog-content {
  height: 400px;
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: #587c83;
  margin: 75px;
}
.blog-content-wrapper .blog-content .blog-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.blog-content-wrapper .blog-content .blog-section .double-covers {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}
.blog-content-wrapper .blog-content .blog-section .double-covers img {
  max-width: 200px;
  max-height: 300px;
}
.blog-content-wrapper .blog-content .blog-section .blog-image {
  width: 50%;
  min-height: 400px;
  object-fit: cover;
}
.blog-content-wrapper .blog-content .blog-section .blog-details {
  height: 400px;
  width: 40%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  color: #ffffff;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-header {
  width: 500px;
  padding-bottom: 20px;
  font-family: "Segoe-UI Bold";
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-description {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  padding-bottom: 20px;
}
.blog-content-wrapper .blog-content .blog-section .blog-details .blog-button {
  width: 222px;
  height: 68px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.cart-wrapper {
  width: 100%;
  height: 1800px;
}
.cart-wrapper .cart-item {
  width: 100%;
  height: 550px;
  margin: 50px 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 100px;
  border-bottom: 1px solid #000000;
}
.cart-wrapper .cart-item .cart-content {
  width: 205px;
  height: 317px;
  margin: 20px;
}
.cart-wrapper .cart-item .cart-content img {
  max-width: 205px;
  max-height: 317px;
}
.cart-wrapper .cart-item .cart-content-detail {
  width: 900px;
  height: 317px;
  margin: 20px;
  padding: 20px;
  font-family: "Segoe-UI";
  font-size: 16px;
}
.cart-wrapper .cart-item .cart-content-detail h4 {
  font-size: 26px;
}
.cart-wrapper .cart-item .cart-content-detail .bold {
  font-family: "Segoe-UI Bold";
}
.cart-wrapper .cart-item .cart-content-detail .pricing-availability {
  line-height: 10px;
  padding: 15px 0px;
}
.cart-wrapper .cart-item .cart-content-detail .quantity-actions {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.cart-wrapper .cart-item .cart-content-detail .quantity-actions a {
  color: #000000;
}

.bookclub-hero {
  max-height: 550px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.bookclub-hero .bookclub-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("/images/book-club-hero.jpg");
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content {
  height: 100%;
  width: 1000px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content .bookclub-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.bookclub-hero .bookclub-hero-image .bookclub-hero-overlay .bookclub-hero-content h2 {
  margin-top: 25px;
  font-size: 20px;
  font-family: "Segoe-UI";
}

.bookclub-blog-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.bookclub-blog-wrapper .blog-content {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.bookclub-blog-wrapper .blog-content .blog-image {
  width: 600px;
  height: 350px;
  margin: 50px 0px;
  padding: 20px;
}
.bookclub-blog-wrapper .blog-content .blog-image img {
  max-width: 600px;
  max-height: 350px;
}
.bookclub-blog-wrapper .blog-content .blog-description {
  width: 900px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
}

.ereading-hero {
  max-height: 550px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.ereading-hero .ereading-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("/images/eread-hero.jpg");
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content {
  height: 100%;
  width: 1000px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content .ereading-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.ereading-hero .ereading-hero-image .ereading-hero-overlay .ereading-hero-content h2 {
  margin-top: 25px;
  font-size: 20px;
  font-family: "Segoe-UI";
}

.ereading-blog-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.ereading-blog-wrapper .blog-content {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ereading-blog-wrapper .blog-content .blog-image {
  width: 600px;
  height: 350px;
  margin: 50px 0px;
  padding: 20px;
}
.ereading-blog-wrapper .blog-content .blog-image img {
  max-width: 600px;
  max-height: 350px;
}
.ereading-blog-wrapper .blog-content .blog-description {
  width: 900px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
}

.february-hero {
  max-height: 550px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.february-hero .february-hero-image {
  height: 500px;
  width: 75%;
  background-position: center;
  background-size: cover;
  background-image: url("/images/february-favorites-hero.jpg");
}
.february-hero .february-hero-image .february-hero-overlay {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: rgba(88, 124, 131, 0.5);
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content {
  height: 100%;
  width: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content .february-hero-title {
  font-family: "Segoe-UI Bold";
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content h1 {
  font-size: 26px;
  font-family: "Segoe-UI Bold";
}
.february-hero .february-hero-image .february-hero-overlay .february-hero-content p {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Segoe-UI";
}

.february-blog-wrapper {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.february-blog-wrapper .february-blog-content {
  width: 1100px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.february-blog-wrapper .february-blog-content .february-blog-image img {
  max-width: 250px;
  max-height: 380px;
}
.february-blog-wrapper .february-blog-content .february-blog-description {
  height: 100%;
  width: 800px;
  padding: 10px;
}
.february-blog-wrapper .february-blog-content .february-blog-description h3 {
  font-family: "Segoe-UI";
  word-spacing: 2px;
  font-size: 26px;
  margin-bottom: 50px;
}
.february-blog-wrapper .february-blog-content .february-blog-description p {
  font-family: "Segoe-UI";
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */
