.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  //   margin-top: 192px;
  margin: 192px 200px 192px 152px;
  img {
    height: 587px;
    margin-right: 40px;
  }
  .about-text {
    .about-Heading {
      margin-bottom: 61px;
      //   h1,
      //   h2,
      //   p {
      //     font-family: "Segoe UI Bold";
      //   }
      h1 {
        font-size: 32px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 26px;
        margin-top: 40px;
      }
    }

    p {
      max-width: 1135px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: $iPad-width) {
  .about-section {
    margin: 76px 53px 76px 68px;
    img {
      height: 343px;
    }
    .about-text {
      text-align: center;
      .about-Heading {
        margin-bottom: 33px;
        h1 {
          font-size: 12px;
        }
        h2 {
          font-size: 8px;
        }
      }
      p {
        font-size: 11px;
        max-width: 355px;
      }
    }
  }
}
