.cart-wrapper {
    width: 100%;
    height: 1800px;

    .cart-item {
        width: 100%;
        height: 550px;
        margin: 50px 0px;
        display: flex;
        justify-content: left;
        align-items: left;
        padding: 100px;
        border-bottom: 1px solid $black;
    

        .cart-content {
            width: 205px;
            height: 317px;
            margin: 20px;  

            img {
                max-width: 205px;
                max-height: 317px;
            }
        }



        .cart-content-detail {
            width: 900px;
            height: 317px;
            margin: 20px;
            padding: 20px; 
            font-family: 'Segoe-UI';
            font-size: 16px;

            h4 {
                font-size: 26px;
            }

            .bold {
                font-family: 'Segoe-UI Bold';
            }
            .pricing-availability {
                line-height: 10px;
                padding: 15px 0px;
            }
            .quantity-actions {
                width: 160px;
                height: 50px;
                display: flex;
                align-items: left;
                justify-content: space-between;
                a {
                    color: $black;
                }
                
            }
        }
    }
}