.hero {
  max-height: 550px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .hero-image {
    height: 500px;
    width: 75%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/home-hero.jpg");

    .hero-overlay {
      height: 500px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: right;
      background-color: rgba(88, 124, 131, 0.5);

      .hero-content {
        height: 100%;
        width: 300px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        text-transform: uppercase;

        h1 {
          line-height: 0.3;
          font-family: "Segoe-UI Bold";
          font-weight: bold;
          font-size: 32px;
        }

        p {
          margin-top: 25px;
          font-size: 16px;
          font-family: "Segoe-UI";
        }
      }
    }
  }
}

.home-content-wrapper {
  max-width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  align-items: center;

  .home-content {
    width: 400px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Segoe-UI";
    color: $black;
    text-align: center;

    .book-img img {
      max-width: 327px;
      max-height: 491px;
      padding: 10px;
    }

    .book-description {
      width: 400px;
      font-size: 16px;
      padding: 10px;
    }
    .book-price {
      font-family: "Segoe-UI Bold";
      font-size: 32px;
      padding: 10px;
    }
    .add-button {
      border: 1px solid $black;
      width: 222px;
      height: 68px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }
  }
}

// Max-width for $iPad-width
@media screen and (max-width: $iPad-width) {
  .hero {
    .hero-image {
      .hero-overlay {
        .hero-content {
          h1 {
            font-size: 12px;
            line-height: normal;
            margin-bottom: 0;
          }
          p {
            font-size: 8px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .home-content-wrapper {
    flex-direction: column;
    .home-content {
      margin-bottom: 73px;

      .book-description {
        // font-size: clamp(11px, 1vw, 16px);
        // font-size: clamp(0.6875rem, 1vw, 1rem);
        font-size: 16px;
      }
      .book-price {
        // font-size: clamp(0.6875rem, 1vw, 2rem);
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .hero {
    max-height: 200px;
    .hero-image {
      height: 193px;
      .hero-overlay {
        height: 100%;
      }
    }
  }
  .home-content-wrapper {
    margin: 60px;
    margin-bottom: 0;
    .home-content {
      max-width: 300px;
      .book-img img {
        // max-width: 70px;
        max-height: 140px;
      }
      .book-description {
        width: 167px;
        font-size: 6px; // XD prototype list 6px but looks too small on my screen
      }
      .book-price {
        font-size: 6px;
      }
      .add-button {
        margin-top: 0;
        width: 114px;
        height: 30px;
        font-size: 6px;
      }
    }
  }
}
