.february-hero {
  max-height: 550px;
  // max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .february-hero-image {
    height: 500px;
    width: 75%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/february-favorites-hero.jpg");

    .february-hero-overlay {
      height: 500px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: right;
      background-color: rgba(88, 124, 131, 0.5);

      .february-hero-content {
        height: 100%;
        width: 600px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        .february-hero-title {
          font-family: "Segoe-UI Bold";
          font-weight: bold;
          font-size: 32px;
          text-transform: uppercase;
        }

        h1 {
          font-size: 26px;
          font-family: "Segoe-UI Bold";
        }

        p {
          margin-top: 25px;
          font-size: 16px;
          font-family: "Segoe-UI";
        }
      }
    }
  }
}

.february-blog-wrapper {
  max-width: 100%;
  // height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 100px;

  .february-blog-content {
    max-width: 1100px;
    // max-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    .february-blog-image img {
      max-width: 250px;
      max-height: 380px;
    }

    .february-blog-description {
      height: 100%;
      max-width: 800px;
      padding: 10px;
      margin-left: 25px;

      h3 {
        font-family: "Segoe-UI";
        word-spacing: 2px;
        font-size: 26px;
        margin-bottom: 50px;
      }
      p {
        //width: 800px;
        font-family: "Segoe-UI";
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $iPad-width) {
  .february-hero {
    margin: 0 auto;
    margin-top: 47px;
    height: 197px;
    max-width: 562px;
    .february-hero-image {
      height: 100%;
      width: 100%;
      .february-hero-overlay {
        height: 100%;
        .february-hero-content {
          width: 100%;
          .february-hero-title {
            font-size: 12px;
          }
          h1 {
            font-size: 11px;
          }
          p {
            font-size: 8px;
          }
        }
      }
    }
  }
  .february-blog-wrapper {
    margin-bottom: 81px;
    .february-blog-content {
      min-height: 250px;
      margin-top: 0;
      // margin-bottom: 81px;
      .february-blog-image img {
        max-width: 99px;
        max-height: 150px;
      }
      .february-blog-description {
        max-width: 473px;
        h3 {
          font-size: 12px;
          margin-bottom: 38px;
        }
        p {
          font-size: 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .february-hero {
    max-width: 310px;
    height: 119px;
    .february-hero-image {
      .february-hero-overlay {
        .february-hero-content {
          h1,
          p {
            font-size: 6px;
            font-family: "Segoe-UI Bold";
          }
          .february-hero-title {
            font-size: 6px;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
  .february-blog-wrapper {
    .february-blog-content {
      min-height: 100px;
      .february-blog-image img {
        max-width: 50px;
      }
      .february-blog-description {
        margin-left: 5px;
        h3,
        p {
          font-size: 6px;
        }

        h3 {
          margin-bottom: 17px;
        }
        p {
          max-width: 219px;
        }
      }
    }
  }
}
